<main class="flex items-center justify-center h-screen">
  <div class="card hover:-translate-y-2 transition duration-150 cursor-pointer max-w-80 w-full shadow-md p-6 flex flex-col items-center justify-center border border-[#bcc0cc] rounded-lg text-center gap-6 bg-white">
    <div class="card-header space-y-4">
      <figure class="rounded-full size-24 mx-auto relative">
        <span class="block border-[#8839ef] border-2 top-0 left-0 right-0 bottom-0 z-10 rounded-full size-24 absolute scale-110"></span>
        <img src="https://i.pinimg.com/736x/e6/58/ff/e658ff5c822907e21094d8907a61f255.jpg" alt="product-image" class="aspect-square object-cover object-top rounded-full overflow-hidden" />
      </figure>

      <div class="card-profile">
        <b class="text-xl text-[#4c4f69]">Kim Leeseo</b>
        <p class="text-[#6c6f85]">Intermediate</p>
      </div>
    </div>

    <div class="status grid grid-cols-2 justify-between items-stretch w-[90%] relative gap-10">
      <div class="box">
        <b class="text-[#4c4f69] text-2xl">24</b>
        <p class="text-[#6c6f85] mt-1 text-sm">Projects</p>
      </div>
      <span class="block w-[1.5px] bg-[#dce0e8] rounded-sm absolute right-0 left-0 top-0 bottom-0 mx-auto"></span>
      <div class="box">
        <b class="text-[#4c4f69] text-2xl">3,399</b>
        <p class="text-[#6c6f85] mt-1 text-sm">Followers</p>
      </div>
    </div>

    <button class="px-4 py-3 rounded-md bg-[#8839ef] hover:bg-[#8839ef]/85 text-white block w-full cursor-pointer">Follow</button>
  </div>
</main>
