<section class="items-center justify-center p-4">
  <header>
    <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Product Collection</h2>

    <p class="mt-4 max-w-md text-gray-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit natus?</p>
  </header>

  <ul class="grid gap-4 gap-y-20 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-items-center mt-8">
    <li>
      <div class="card hover:-translate-y-2 transition duration-150 cursor-pointer">
        <figure class="rounded-md overflow-hidden">
          <img
            src="https://plus.unsplash.com/premium_photo-1670537994863-5ad53a3214e0?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="aspect-square object-cover object-center"
          />
        </figure>
        <div class="product-titles mt-4 space-y-3">
          <b class="text-xl block">Pafrume-in</b>
          <div class="product-rating flex items-center gap-4">
            <div class="stars flex items-center gap-1">
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>

              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 17.75l-6.172 3.245l1.179-6.873l-5-4.867l6.9-1l3.086-6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                </svg>
              </figure>
            </div>

            <p class="text-muted-foreground"><b>4.7/</b> 5</p>
          </div>
          <p class="text-xl text-muted-foreground">$180</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card hover:-translate-y-2 transition duration-150 cursor-pointer">
        <figure class="rounded-md overflow-hidden">
          <img
            src="https://plus.unsplash.com/premium_photo-1670537994863-5ad53a3214e0?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="aspect-square object-cover object-center"
          />
        </figure>
        <div class="product-titles mt-4 space-y-3">
          <b class="text-xl block">Pafrume-in</b>
          <div class="product-rating flex items-center gap-4">
            <div class="stars flex items-center gap-1">
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>

              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 17.75l-6.172 3.245l1.179-6.873l-5-4.867l6.9-1l3.086-6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                </svg>
              </figure>
            </div>

            <p class="text-muted-foreground"><b>4.7/</b> 5</p>
          </div>
          <p class="text-xl text-muted-foreground">$180</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card hover:-translate-y-2 transition duration-150 cursor-pointer">
        <figure class="rounded-md overflow-hidden">
          <img
            src="https://plus.unsplash.com/premium_photo-1670537994863-5ad53a3214e0?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="aspect-square object-cover object-center"
          />
        </figure>
        <div class="product-titles mt-4 space-y-3">
          <b class="text-xl block">Pafrume-in</b>
          <div class="product-rating flex items-center gap-4">
            <div class="stars flex items-center gap-1">
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>

              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 17.75l-6.172 3.245l1.179-6.873l-5-4.867l6.9-1l3.086-6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                </svg>
              </figure>
            </div>

            <p class="text-muted-foreground"><b>4.7/</b> 5</p>
          </div>
          <p class="text-xl text-muted-foreground">$180</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card hover:-translate-y-2 transition duration-150 cursor-pointer">
        <figure class="rounded-md overflow-hidden">
          <img
            src="https://plus.unsplash.com/premium_photo-1670537994863-5ad53a3214e0?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="aspect-square object-cover object-center"
          />
        </figure>
        <div class="product-titles mt-4 space-y-3">
          <b class="text-xl block">Pafrume-in</b>
          <div class="product-rating flex items-center gap-4">
            <div class="stars flex items-center gap-1">
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>
              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m8.243 7.34l-6.38.925l-.113.023a1 1 0 0 0-.44 1.684l4.622 4.499l-1.09 6.355l-.013.11a1 1 0 0 0 1.464.944l5.706-3l5.693 3l.1.046a1 1 0 0 0 1.352-1.1l-1.091-6.355l4.624-4.5l.078-.085a1 1 0 0 0-.633-1.62l-6.38-.926l-2.852-5.78a1 1 0 0 0-1.794 0z"
                  />
                </svg>
              </figure>

              <figure class="size-5 text-yellow-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="block max-w-full" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 17.75l-6.172 3.245l1.179-6.873l-5-4.867l6.9-1l3.086-6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                </svg>
              </figure>
            </div>

            <p class="text-muted-foreground"><b>4.7/</b> 5</p>
          </div>
          <p class="text-xl text-muted-foreground">$180</p>
        </div>
      </div>
    </li>
  </ul>
</section>
