<main class="flex min-h-screen items-center justify-center bg-[#f5f5ff] max-w-5xl mx-auto">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 rounded-lg bg-white">
    <div class="card rounded-lg bg-white p-8">
      <b class="text-2xl text-[#2a2a4a]">$10<span class="text-sm font-medium text-[#6c6c8a]"> /month</span></b>

      <div class="price__details mt-8">
        <b class="text-2xl text-[#2a2a4a]">Bootstrap</b>
        <p class="mt-2 text-sm font-medium text-[#6c6c8a]">For most businesses that wnat to optimize web queries</p>

        <ul class="mt-8 space-y-2 text-sm font-medium text-[#6c6c8a]">
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>All limited links</figcaption>
          </li>
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>Own analytics platform</figcaption>
          </li>
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>Chat support</figcaption>
          </li>
        </ul>

        <button class="mt-8 block w-full cursor-pointer rounded-md bg-[#d8e6ff] px-4 py-3 font-semibold text-[#5d5fef] hover:bg-[#d8e6ff]/85">Downgrade</button>
      </div>
    </div>
    <div class="card bg-[#6e56cf] p-8 sm:rounded-lg md:-translate-y-10 md:shadow-2xl">
      <b class="text-2xl text-white">$120<span class="text-sm font-medium text-[#f0f0fa]"> /month</span></b>

      <div class="price__details mt-8">
        <b class="text-2xl text-white">ReactJs</b>
        <p class="mt-2 text-sm font-medium text-[#f0f0fa]">For most businesses that want to optimize web</p>

        <ul class="mt-8 space-y-2 text-sm font-medium text-[#f0f0fa]">
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1 !text-[#4a4080]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>All limited links</figcaption>
          </li>
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1 !text-[#4a4080]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>Own analytics platform</figcaption>
          </li>
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1 !text-[#4a4080]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>Chat support</figcaption>
          </li>
        </ul>
      </div>

      <button class="mt-8 block w-full cursor-pointer rounded-md bg-white px-4 py-3 font-semibold text-[#6e56cf] hover:bg-white/85">Upgrade</button>
    </div>
    <div class="card rounded-lg bg-white p-8">
      <b class="text-2xl text-[#2a2a4a]">$220<span class="text-sm font-medium text-[#6c6c8a]"> /month</span></b>

      <div class="price__details mt-8">
        <b class="text-2xl text-[#2a2a4a]">Nextjs</b>
        <p class="mt-2 text-sm font-medium text-[#6c6c8a]">For most businesses that wnat to optimize web queries</p>

        <ul class="mt-8 space-y-2 text-sm font-medium text-[#6c6c8a]">
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>All limited links</figcaption>
          </li>
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>Own analytics platform</figcaption>
          </li>
          <li class="flex items-center gap-2">
            <figure class="size-5 rounded-full bg-[#e4dfff] p-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="block max-w-full"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-check-icon lucide-check"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </figure>
            <figcaption>Chat support</figcaption>
          </li>
        </ul>
        <button class="mt-8 block w-full cursor-pointer rounded-md bg-[#d8e6ff] px-4 py-3 font-semibold text-[#5d5fef] hover:bg-[#d8e6ff]/85">Upgrade</button>
      </div>
    </div>
  </div>
</main>
