<section class="flex min-h-screen items-center justify-center bg-[#f5f5ff] p-4">
  <div class="card relative grid max-w-2xl sm:grid-cols-2 gap-14 rounded-lg bg-[#644a40] p-8">
    <div class="left">
      <h3 class="text-2xl font-semibold text-[#fcfcfc]">Business</h3>
      <p class="mt-2 text-sm text-[#efefef]">Give your everyday finances a boost. Get more out of your money for less.</p>

      <b class="mt-8 block text-5xl text-[#fcfcfc]">$199<span class="text-sm font-medium text-[#e8e8e8]"> /month</span></b>
      <button class="mt-8 block w-full cursor-pointer rounded-md bg-[#ffdfb5] px-4 py-3 font-semibold text-[#644a40] hover:bg-[#ffdfb5]/85">Get Started</button>
    </div>

    <span class="hidden absolute top-0 right-0 bottom-0 left-0 m-auto sm:block h-3/4 w-[0.125rem] rounded-sm bg-[#efefef]/30"></span>

    <div class="right">
      <p class="text-sm text-[#e8e8e8] uppercase">Features</p>
      <ul class="mt-4 space-y-2">
        <li class="flex items-center gap-2">
          <figure class="my-auto size-5 rounded-full bg-[#ffdfb5] p-1 text-[#644a40]">
            <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-check-icon lucide-check block max-w-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 6 9 17l-5-5" />
            </svg>
          </figure>
          <p class="text-[#fcfcfc]">No payments back-office needed</p>
        </li>
        <li class="flex items-center gap-2">
          <figure class="my-auto size-5 rounded-full bg-[#ffdfb5] p-1 text-[#644a40]">
            <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-check-icon lucide-check block max-w-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 6 9 17l-5-5" />
            </svg>
          </figure>
          <p class="text-[#fcfcfc]">72 hour support response time</p>
        </li>
        <li class="flex items-center gap-2">
          <figure class="my-auto size-5 rounded-full bg-[#ffdfb5] p-1 text-[#644a40]">
            <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-check-icon lucide-check block max-w-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 6 9 17l-5-5" />
            </svg>
          </figure>
          <p class="text-[#fcfcfc]">Faster implementation</p>
        </li>
        <li class="flex items-center gap-2">
          <figure class="my-auto size-5 rounded-full bg-[#ffdfb5] p-1 text-[#644a40]">
            <svg xmlns="http://www.w3.org/2000/svg" class="lucide lucide-check-icon lucide-check block max-w-full" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 6 9 17l-5-5" />
            </svg>
          </figure>
          <p class="text-[#fcfcfc]">Global roll-out</p>
        </li>
      </ul>
    </div>
  </div>
</section>
